<% s3_base = "https://tech-team-data.s3.us-east-1.amazonaws.com/national-dw-tool/public-data-downloads/staged" %>

<div class="px-4 md:px-9 pt-4 pb-8">
  <h3 class="m-0 mb-3 font-bold">Downloads</h3>
  <p class="mb-4 text-neutral-700">Below, you'll find geospatial and tabular data for states, territories, and the nation as a zipped package.</p>
  <ul class="mb-4 list-disc pl-5">
    <li class="mb-2">Data for states contains water systems which overlap other states.</li>
    <li class="mb-2">Data for territories contains a limited set of information.</li>
    <li class="mb-2">Please refer to the README.txt in the download for additional details on the datasets contained and their limitations.</li>
  </ul>
  <p class="mb-6">Have questions about the data? Fill out our
    <%= render UI::ExternalLinkComponent.new(url: "https://docs.google.com/forms/d/15GExM4tPoErkbLW43CkNNB2t27SZ7wvPcTwG5IzN5S4/edit", classes: "text-black font-bold", aria_label: "Data questions feedback form") do %>feedback form<% end %>
    or get in touch via email <%= render UI::MailtoLinkComponent.new(email: "watertool@policyinnovation.org", classes: "text-black font-bold") do %>watertool@policyinnovation.org<% end %>.</p>

  <div class="border-t border-gray-200 pt-6">
    <div class="mb-4">
      <%= render UI::DownloadLinkComponent.new(url: "#{s3_base}/national-dw-tool-staged.zip") do %>National<% end %>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-x-4 gap-y-4">
      <% download_states.each do |code, name| %>
        <div>
          <%= render UI::DownloadLinkComponent.new(url: "#{s3_base}/states/#{code}.zip") do %><%= name %><% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
