<%# Rate-tier filter: parent checkbox revealing a tier button group + "no info" checkbox. locals: field_key, group %>
<% field = FieldRegistry.find(field_key) %>
<% param = field.filter[:param] %>
<% on = filter_active?(param) %>
<% checkbox_id = filter_checkbox_id(param) %>
<% panel_id = filter_panel_id(param) %>
<% tiers = field.filter[:options].reject { |o| o[:value] == "no_information" } %>
<% no_info = field.filter[:options].find { |o| o[:value] == "no_information" } %>
<% no_info_id = filter_option_id(param, no_info[:value]) %>
<li class="<%= filter_row_classes %>" data-filter-kind="rate_tier" data-filter-param="<%= param %>" data-filter-group="<%= group %>">
  <input type="checkbox" class="toggle" id="<%= checkbox_id %>"
         data-action="change->filter#toggleRateTierPanel"
         data-panel-id="<%= panel_id %>" <%= checked_if on %>>
  <label for="<%= checkbox_id %>"><%= field.filter[:label] %></label>
  <%= tooltip_icon(filter_tooltips[field.filter[:tooltip]]) %>
  <button type="button" class="<%= filter_info_button_classes %>"
          data-action="click->filter#toggleSubcatPanel"
          data-panel-id="<%= panel_id %>"
          aria-expanded="<%= on %>" aria-controls="<%= panel_id %>">
    <%= icon("arrow-down", classes: collapse_toggle_icon_classes(expanded: on)) %>
  </button>
  <div id="<%= panel_id %>" class="<%= on ? "pb-2" : "hidden pb-2" %>" data-subcat-panel>
    <p class="my-2 ml-[10px] text-[.9em] font-semibold text-neutral-700">Amount paid by most customers</p>
    <div class="flex my-[10px] ml-[10px] mr-0" role="group" aria-label="Annual water and sewer bill tier">
      <% tiers.each_with_index do |opt, i| %>
        <% position = i.zero? ? :first : ((i == tiers.size - 1) ? :last : :middle) %>
        <%= render Filters::RateTierBtnComponent.new(
              id: filter_option_id(param, opt[:value]),
              label: opt[:label],
              value: opt[:value],
              position: position,
              active: filter_checked?(param, opt[:value])) %>
      <% end %>
    </div>
    <ul class="list-none px-1">
      <li class="<%= filter_row_classes %>">
        <div class="flex items-start">
          <input type="checkbox" class="toggle mt-0.5 shrink-0" id="<%= no_info_id %>"
                 data-filter-value="no_information"
                 data-action="change->filter#onRateTierNoInfoChange" <%= checked_if filter_checked?(param, "no_information") %>>
          <label for="<%= no_info_id %>" class="leading-snug"><%= no_info[:label] %></label>
        </div>
      </li>
    </ul>
  </div>
</li>
