<label class="relative mr-2 size-4 inline-flex cursor-pointer"<% if @title %> title="<%= @title %>"<% end %>>
  <input type="checkbox"
         class="<%= input_classes %>"
         id="<%= @id %>"
         <% if @checked %> checked="checked"<% end %>
         <% if @data_action %> data-action="<%= @data_action %>"<% end %>
         <% if @title && !@label %> aria-label="<%= @title %>"<% end %>>
  <%= icon "checkbox-circle-off", classes: off_svg_classes %>
  <%= icon "checkbox-circle-on",  classes: on_svg_classes %>
</label><%- if @label -%><label for="<%= @id %>" id="<%= label_id %>"><%= @label %></label><%- end -%>
