<button type="button"
        aria-label="<%= @aria_label %>"
        class="<%= button_classes %>"
        <% if @id %> id="<%= @id %>"<% end %>
        <% if @data_action %> data-action="<%= @data_action %>"<% end %>>
  <%= content %>
</button>
