<li id="filter-tab-<%= @menu_key %>" class="relative filter-<%= @menu_key %> pointer-events-auto">
  <div class="container-filter-count-menu-<%= @menu_key %> absolute -top-2 right-0.5 hidden bg-brand-accent text-white text-[0.7em] rounded-full text-center py-px px-1.5 border border-white"
       aria-hidden="true">
    <span class="filter-count-group-<%= @menu_key %>">0</span>
  </div>
  <button type="button"
          aria-expanded="false"
          aria-haspopup="true"
          data-menu="<%= @menu_key %>"
          class="<%= FILTER_TAB_BUTTON_CLASSES %>"
          id="container-menu-btn-<%= @menu_key %>"
          data-action="click->filter-menu#toggleMenu">
    <% if @mobile_label %>
      <span class="sm:hidden flex-1"><%= @mobile_label %></span>
      <span class="hidden sm:inline flex-1"><%= @label %></span>
    <% else %>
      <span class="flex-1"><%= @label %></span>
    <% end %>
    <%= icon "nav-arrow-down", classes: "h-5 w-5 shrink-0 motion-safe:transition-transform [.active_&]:rotate-180" %>
  </button>
</li>
