<button type="button"
        id="<%= @id %>"
        class="<%= pill_classes %> pop-size-<%= @pop_number %>"
        data-action="click->filter#togglePopSize"><%= @label %><span class="block text-[.75em]"><%= @sublabel %></span></button>
