<div class="detail-section">
  <h3>Trends</h3>
  <% if trends.nil? %>
    <p class="detail-na">Data not available</p>
  <% else %>
    <table class="detail-table">
      <tr>
        <td>Population Change</td>
        <td>
          <%= trends.population_pct_change ? number_to_percentage(trends.population_pct_change, precision: 1) : "N/A" %>
          <% if trends.population_change_flag.present? %>
            <span class="detail-flag"><%= trends.population_change_flag %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Median Income Change</td>
        <td>
          <%= trends.mhi_pct_change ? number_to_percentage(trends.mhi_pct_change, precision: 1) : "N/A" %>
          <% if trends.income_change_flag.present? %>
            <span class="detail-flag"><%= trends.income_change_flag %></span>
          <% end %>
        </td>
      </tr>
      <tr><td>Households Change</td><td><%= trends.households_pct_change ? number_to_percentage(trends.households_pct_change, precision: 1) : "N/A" %></td></tr>
      <tr><td>Poverty Change</td><td><%= trends.poverty_pct_change ? number_to_percentage(trends.poverty_pct_change, precision: 1) : "N/A" %></td></tr>
      <tr><td>Unemployment Change</td><td><%= trends.unemployment_pct_change ? number_to_percentage(trends.unemployment_pct_change, precision: 1) : "N/A" %></td></tr>
      <tr><td>POC Change</td><td><%= trends.poc_pct_change ? number_to_percentage(trends.poc_pct_change, precision: 1) : "N/A" %></td></tr>
    </table>
  <% end %>
</div>
